name: Example

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    name: Test Deploy
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: download
      uses: actions/checkout@v4

    - name: setup pages
      uses: actions/configure-pages@v5

    - name: Upload artifacts
      uses: actions/upload-pages-artifact@v3
      with:
        path: "."

    - name: deploy
      uses: actions/deploy-pages@v4